.main{
    margin-top: 30px ;
    margin-left: 20px;
}
.main a{
 text-decoration: none;
 color: black;
}
.main a:hover{
    text-decoration: none;
    color: gray;
   }
.frame{
   margin-top:100px;
   margin-left:450px;
}
.if{
    border: black 2px solid;
}